#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  --color-1: #7149C6;
  --color-2: #FC2947;
  --color-3: #FE6244;
  --color-4: #FFDEB9;
  --almost-white: #F8F9FB;
  --almost-black: #0E1116;
  --gray-mid: #56585c;
  --gray-light: #b7b8b9;

}
